body {
    background-image: radial-gradient(#448fda 0.5px, #433840 0.5px);
    animation: gradient 120s linear infinite;
    background-size: 10px 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}