body {
    background-image: radial-gradient(var(--tertiary) 0.75px, var(--secondary) 0.75px);
    animation: gradient 120s linear infinite;
    background-size: 1rem 1rem;
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.main {
    display: flex;
    flex-direction: row;
}