* {
    --header-height: 5rem;
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    padding: 0.5rem;

    background: #B61634;
}

.Logo {
    height: 100%;
}