* {
    --header-height: 5rem;
    --nav-padding: 0.5rem;
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    padding: var(--nav-padding);
    background: var(--primary);
    box-shadow: 0 -0.5rem 2rem 0.5rem var(--black);
}

.Logo {
    height: 100%;
}

.signIn {
    padding: 0.5rem;
    color: var(--white);
    font-size: x-large;
}

.signIn:hover {
    background-color: var(--tertiary);
}